* {
    background-color: #2b6dff;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

nav {
    height: 80px;
}

nav img {
    width: 150px;
    position: absolute;
    top: 1px;
    left: 3%;
}

nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    color: white;
    padding: 5px 0;
    font-size: 20px;
}

nav ul li a::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scale(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before {
    transform: scale(1);
}

label #btn,
label #cancel {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

h1 {
    margin-left: 100px;
    margin-top: 90px;
}

@media (max-width: 1118px) {
    nav img {
        left: 8%;
    }
}

@media (max-width: 944px) {
    nav img {
        left: 6%;
        top: 20px;
        width: 130px;
    }
    nav ul li a {
        font-size: 17px;
    }
}

@media (max-width: 860px) {
    label #btn {
        display: block;
    }
    nav img {
        left: 6%;
        top: 10px;
        width: 90px;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2b6dff;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #check:checked~ul {
        left: 0;
    }
    #check:checked~label #btn {
        display: none;
    }
    #check:checked~label #cancel {
        display: block;
    }
}